* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

header {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: #000;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

main {
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 50px;
}

.articles {
  background: #fff;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.articles p:first-of-type {
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  text-align: center;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
}

.articles p:last-of-type {
  color: #000;
  text-align: center;
  font-family: Heebo;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
}

.articles span {
  color: #b3b3b3;
  font-family: Heebo;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.article-1 p {
  color: #000;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
}

h2 {
  background: #eee;
  color: #000;
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 416.667% */
  padding-left: 17px;
}

.reviews {
  padding: 25px 20px 30px;
  background: #fff;
}

.reviews p:nth-of-type(2) {
  color: #000;
  font-family: Heebo;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  margin-bottom: 20px;
}

.reviews p:last-of-type {
  color: #000;
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reviews p:first-of-type {
  color: #000;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
  margin-bottom: 20px;
}

.reviews span {
  color: #000;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
}

.review-1 p:first-of-type {
  color: #000;
  font-family: DM Serif Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.review-1 span {
  color: #000;
  font-family: DM Serif Display;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
}

.review-1 {
  margin-bottom: 20px;
}

.review-2 {
  margin-bottom: 20px;
}
